.container {
  width: 50%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;

  .nav {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
  }

  .nav:hover {
    color: rgba(0, 0, 0, 1);
  }
}
